<div class="c4p-login-body">
    <header ng-include="'partials/guider/header.html'"></header>
    <div id="a4pPage" 
            resize-css-height="getResizePathValue('index_body', '', 'offsetHeight') -getResizePathValue('guider_header', '', 'offsetHeight') -getResizePathValue('guider_footer', '', 'offsetHeight')"
            resize-opts="{name:'guider_index_a4pPage_scroll_container'}"
            sense-opts="{name:'guider_index', axeY:'scroll', watchRefresh:'slide'}"
            sense-scroll-opts="{scrollbarClass:'c4p-scrollbar'}" >
            <div ng-include="'partials/guider/'+ getSlideFromGuider() +'.html'"/>
    </div>
    <footer ng-include="'partials/guider/footer.html'"></footer>
</div>
