<!-- Headers -->
<div class="row">
    <div class="c4p-dialog-feedback-header">

        <div class="c4p-padding-w-packed c4p-guider-action col-xxs-11">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#home" data-toggle="tab">
                  <h5>{{srvLocale.translations.htmlGuiderPageTitle}}</h5>
                </a>
              </li>
              <li><a href="#question" data-toggle="tab">
                <div class="btn btn-warning">
                  <span class="c4p-icon-std glyphicon glyphicon-question">
                  </span>
                </div>
              </a></li><!--
              <li><a href="#warning" data-toggle="tab">
                <div class="btn btn-danger">
                  <span class="c4p-icon-std glyphicon glyphicon-exclamation">
                  </span>
                </div>
              </a></li>-->
            </ul>
        </div>
        <div class="col-xxs-1">
            <div class="btn c4p-padding-w-packed c4p-guider-action" ng-click="close()">
                <span class="c4p-icon-std glyphicon glyphicon-remove"></span>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-xxs-12"
             resize-css-height="getResizeHeight() -getPathValue('parentNode.parentNode.previousElementSibling', 'offsetHeight')"
             sense-opts="{name:'dialogEmail', axeY:'scroll', watchRefresh:'mailLastUpdate'}"
             sense-scroll-opts="{scrollbarClass:'c4p-scrollbar'}">
            <div class="c4p-dialog-container">
            



              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane fade in active" id="home" ng-controller="ctrlGuiderDialog">

                  <div class="row">
                    <a4p-carousel class="col-xxs-12 col-xs-offset-3 col-xs-6" interval="guider_interval">
                      <a4p-slide ng-repeat="slide in guider_slides" active="slide.active">
                          <img ng-src="{{slide.image}}">

                          <div class="carousel-caption">
                              <h4>Slide {{$index}}</h4>

                              <p>{{slide.text}}</p>
                          </div>
                      </a4p-slide>

                    </a4p-carousel>
              <!--
                  <a4p-carousel interval="myInterval">
                      <a4p-slide ng-repeat="slide in slides" active="slide.active">
                          <img ng-src="{{slide.image}}" style="margin:auto;">

                          <div class="carousel-caption">
                              <h4>Slide {{$index}}</h4>

                              <p>{{slide.text}}</p>
                          </div>
                      </a4p-slide>
                  </a4p-carousel>
              -->
                  </div>

                </div>
                <div class="tab-pane fade" id="question"> 

                  <div class="row">
                      <!-- Email if unknown -->
                      <div class="col-xxs-12" ng-show="feedback.emailRequired">
                          <c4p-input title-var="srvLocale.translations.htmlFormEmail"
                                     ng-model="feedback.email"
                                     placeholder="{{srvLocale.translations.htmlFormEmailPlaceHolder}}"
                                     type="mail"
                                     style="width:100%">
                          </c4p-input>
                      </div>
                  </div>
                  <div class="row">
                      <!-- Phone if unknown -->
                      <div class="col-xxs-12" ng-show="feedback.emailRequired">
                          <c4p-input title-var="srvLocale.translations.htmlFormPhone"
                                     ng-model="feedback.phone"
                                     placeholder="{{srvLocale.translations.htmlFormPhonePlaceHolder}}"
                                     type="tel"
                                     style="width:100%">
                          </c4p-input>
                      </div>
                  </div>
                  <div class="row">
                      <!-- Message -->
                      <div class="col-xxs-12">
                          <c4p-input ng-model="feedback.message"
                                     placeholder="{{srvLocale.translations.htmlFormMessagePlaceHolder}}"
                                     type="textarea"
                                     rows=5 cols=40
                                     style="width:100%">
                          </c4p-input>
                      </div>
                  </div>
                  <div class="row">
                      <a class="btn btn-primary col-xxs-4 col-sm-offset-8"
                         data-dismiss="modal"
                         ng-class="{disabled : (feedback.emailRequired && !feedback.email) }"
                         ng-click="submit()">
                          {{srvLocale.translations.htmlButtonSend}}
                      </a>
                  </div>
                  <!--
                  <div class="row">
                       Vertical Filler to let scroll inuts while virtual keyboard is masking almost all te screen 
                      <div class="col-xxs-12" resize-css-min-height="getResizeHeight()"></div>
                  </div>-->

                </div>
                <div class="tab-pane fade" id="warning">

                  <div class="row">
                      <!-- Email if unknown -->
                      <div class="col-xxs-12" ng-show="feedback.emailRequired">
                          <c4p-input title-var="srvLocale.translations.htmlFormEmail"
                                     ng-model="feedback.email"
                                     placeholder="{{srvLocale.translations.htmlFormEmailPlaceHolder}}"
                                     type="mail"
                                     style="width:100%">
                          </c4p-input>
                      </div>
                  </div>
                  <div class="row">
                      <!-- Phone if unknown -->
                      <div class="col-xxs-12" ng-show="feedback.emailRequired">
                          <c4p-input title-var="srvLocale.translations.htmlFormPhone"
                                     ng-model="feedback.phone"
                                     placeholder="{{srvLocale.translations.htmlFormPhonePlaceHolder}}"
                                     type="tel"
                                     style="width:100%">
                          </c4p-input>
                      </div>
                  </div>
                  <div class="row">
                      <!-- Message -->
                      <div class="col-xxs-12">
                          <c4p-input ng-model="feedback.message"
                                     placeholder="{{srvLocale.translations.htmlFormMessagePlaceHolder}}"
                                     type="textarea"
                                     rows=5 cols=40
                                     style="width:100%">
                          </c4p-input>
                      </div>
                  </div>
                  <div class="row">
                      <a class="btn btn-primary col-xxs-4 col-sm-offset-8"
                         data-dismiss="modal"
                         ng-class="{disabled : (feedback.emailRequired && !feedback.email) }"
                         ng-click="submit()">
                          {{srvLocale.translations.htmlButtonSend}}
                      </a>
                  </div>
                  
                </div>
              </div>

            </div>
        </div>
    </div>
</div>
